* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background: lightblue;
    padding-top: 10vh;
}

#score {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 40px;
}

#board {
    display: flex;
    justify-content: center;
    width: 80vw;
    flex-wrap: wrap;
}

.card {
    position: relative;
    height: 130px;
    width: 130px;
    margin: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    img {
        height: 100%;
        width: 100%;
    }

    .front, .back {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }

    .back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }
}

#card-3 {
    order: 3;
}

.flipped {
    transform: rotateY(180deg);
}

.--active{
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
}

//Responsive
@media only screen and (max-width: 937px){
    body{
        padding-top: 3px;
    }
    #board{
        width: 95vw;
    }
    .card{
        height: 80px;
        width: 80px;
    }
    #score{
        font-size: 50px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 568px){
    .card{
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    #score{
        font-size: 40px;
    }
}